:root{
    --pink: #f14e95;
    --pink-muted: #fdf4f8;
    --pink-light: #fcdbe9;
    --pink-hover: #d84686;
    --white: #fff;
    --grey: #ccc;
    --light-grey: #d4d4d4;
    --verry-light-grey: #eee;
    --dark-grey: #999;
    --dark: #151515;
    --black: #000;
}

html{
    scroll-behavior: smooth;
}

* {
    font-family: 'Work Sans', sans-serif;
}

body.transition{
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* DOOR SECTION */
.open{
    background-color: var(--white);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    z-index: 3;
    overflow-y: hidden;
    transition: transform 1s ease-in-out;
}

.doors{
    width: 400px;
    height: 500px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.door{
    width: 50%;
    height: 100%;
    position: absolute;
    transform-origin: center left;
    transition: transform 1s, filter 0.5s;
    overflow: hidden;
}

.door img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.door.left{
    left: 22px;
}

.door.right{
    right: 22px;
    transform-origin: center right;
}

.heading-door{
    position: absolute;
    text-align: center;
    width: 50%;
    font-size: 54px;
    margin: auto;
}

.heading-door.left{
    left: 0;
}

.heading-door.right{
    right: 0;
}

.huruf-sambung{
    font-family: 'Sacramento', cursive;
}

/* NAVBAR */
.nav{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    list-style-type: none;
    display: flex;
    background-color: var(--pink);
    height: 80px;
    z-index: 1;
}

.nav li{
    flex: 1;
}

.nav li a{
    text-decoration: none;
    color: var(--verry-light-grey);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    z-index: 1;
    position: relative;
}

.nav li a:hover{
    color: var(--white);
}

.nav li a.nav-item-music{
    transform: translateY(-20%);
    font-size: 30px;
    top: -30px;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav .nav-music {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: var(--dark);
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
}

.nav li a.rotate{
    animation: rotateAnimation 5s linear infinite;
}

@keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(350deg);
    }
}


/* HERO SECTION */
#hero-section h1{
    font-size: 64px;
}

#hero-section::before{
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: rgba( 241, 78, 149, 0.4);
}

#hero-section {
    width: 100%;
    height: 100vh;
    background: url(../img/6.jpg) top left;
    background-size: cover;
    position: relative;
    background-position: center;
    z-index: 2;
}

#hero-section .container{
    position: relative;
}

#hero-section .btn-get-started{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px;
    transition: 0.5s;
    color: var(--pink);
    background: var(--white);
}

#hero-section .btn-get-started:hover{
    background: var(--pink-hover);
    color: var(--white);
}

/* PEMBUKA SECTION */

.text-pink{
    color: var(--pink);
}

.pembuka-section{
    padding-top: 75px;
}

.section-title{
    text-align: center;
    padding-bottom: 30px;
}

.section-title p{
    margin: 15px auto 0 auto;
}

.section-bg{
    background-color: var(--pink-muted);
}

#content-section{
    overflow-x: auto;
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    background: var(--pink-light);
}

::-webkit-scrollbar-thumb{
    background: var(--pink);
}

::-webkit-scrollbar-thumb:hover{
    background: var(--pink-hover);
}